body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F8F8;
}


.sidebar {
    background-color: #c2b32a; 
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    width: 220px;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #095E5E; 
    padding-left: 10px;
}


.main-content {
    margin-left: 300px; 
    padding: 5px 15px;
    color: #0A4444;
    display: flex;
    justify-content:center;
    align-items:start;
    min-height: 100vh;
    flex-direction: column;
}
