body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1F8F8;
}


.sidebar {
    background-color: #0ABAB5; 
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    width: 220px;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #095E5E; 
    padding-left: 10px;
}


.main-content {
    margin-left: 240px; 
    padding: 5px 15px;
    color: #0A4444;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.profile-image-section {
    text-align: center;
    flex-basis: 10%;
}

.profile-image-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 19px;
    border: 3px solid #0ABAB5; 
}

.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.2em;
    padding: 12.5px;
    
}
h3{
    font-weight: bold;
}
.user-info {
    display: flex;
    justify-content:space-evenly;
    background-color:#45d4ff;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 75vw;
    height: 25vh;
    transition: 1s;
    border:10px solid #52b9d86b;
    
}


.user-info:hover{
    background-color:#00c3ff9d ;
    border:1px solid #f8f8f8;
    box-shadow: 0px 1.5px 15px 3px #00c3ff;
}
.profile-img {
    width: 20ch;
    height: 20vh;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 20px;
}

.details h3 {
    margin: 5px 0;
}

.details span {
    font-weight: normal;
}

/* Bills Section */
.bills {
    display: grid;
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10vw;
    row-gap: 5vh;
    width: 70vw;
    height: 50vh;
    margin: auto;
}

.bills > div {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-img {
    width: 15ch;
    height: 15vh;
    border-radius: 50%;
    margin-right: 20px;
}

.bills .water{
    background-color: #2c59d4;
    border:10px solid #0044ff;
    transition: 1s;
    
}
.bills .rent{
    background-color: rgb(235, 57, 57);
    border:10px solid #ff0000;
    transition: 1s;
    
}
.bills .elec{
    background-color: rgb(251, 206, 80);
    border: 10px,solid,#ffee00;
    transition: 1s;
}
.bills .wifi{
    background-color: #e7e7e7;
    border:10px solid #747474c2;
    transition: 1s;
}
.bills h3 {
    margin-bottom: 10px;
}

.bills h4 {
    font-size: 1.2em;
    font-weight: bold;
}

#c_water{
    background-color:#0044ff8a;
    border: 4px,solid,#0044ff;
    overflow-x: hidden;
}

#c_rent{
    background-color:rgba(235, 57, 57, 0.781);
    border: 4px,solid,#ff0000;
}


#c_elec{
    background-color: rgb(255, 217, 0);
    border: 4px,solid,rgba(255, 238, 0, 0.644);
}

#c_wifi{
    background-color: #74747462;
    border: 4px,solid,#747474c2;
}


.bills > .water:hover{
    background-color: #0044ff;
    border:1px solid #f8f8f8;
    box-shadow: 0px 3px 15px 10px #0044ff93;
}
.bills > .rent:hover{
    background-color: rgb(255, 0, 0);
    border:1px solid #f8f8f8;
    box-shadow: 0px 3px 15px 10px #ff000041;
    
}
.bills > .elec:hover{
    background-color: rgb(255, 217, 0);
    border:1px solid #f8f8f8;
    box-shadow: 0px 3px 15px 15px rgba(255, 238, 0, 0.404);
}
.bills > .wifi:hover{

    background-color: #747474c2;
    border:1px solid #f8f8f8;
    box-shadow: 0px 3px 15px 15px #49494944;
}

.total-amount{
    background-color: rgba(255, 255, 255, 0.459);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 50ch;
    font-weight: bold;
}
